section#author
    .title_wrapper
        h3 О тренере
    #about
        .container
            img#oleg_about(src="img/oleg_about.png", alt="Олег Белевский")
            .about_container
                h4 Олег Белевский
                ul.about_list
                    li
                        span ​Практик с 2001 года;
                    li
                        span Преподаватель с 2010 года;
                    li
                        span Автор апгрейдов методик Михаила Радуги и абсолютно новых  наработок;
                    li
                        span Основатель инновационной системы обучения на семинаре «Выход из тела за 3 дня»
                .blockquote_min
                    a(href="img/cert.jpg", data-fancybox="cert")
                        img#cert(src="img/cert_min.png", alt="Сертификат")
                    p Попробовав себя в огромном количестве областей, в конце концов, начиная с 2010 года с головой погрузился в 
                        span единственное любимое дело 
                        | – практику и преподавание фазы, а также изучение ее прикладных возможностей и разработке новых методик ее освоения
            .clearfix
            .blockquote
                p «Выходами из тела и осознанными сновидениями (практикой фазы) я занимаюсь уже 15 лет. Из них 6 лет преподавательского стажа в разных уголках России
                p На сегодняшний день моя практика равна 4-6 опытам в неделю. Я активно улучшаю и упрощаю методики выхода из тела и осознания во сне. Оттачиваю и исследую поистине безграничные возможности их прикладного использования. Активно занимаюсь популяризацией фазовых состояний. Мои статьи на регулярной основе выходят многотысячным тиражом в издании «Тайная Доктрина». Ежемесячно провожу только живые (!) практические семинары в Москве и в Крыму
                p Основная особенность моего обучения — это его форма и структура. Я создал уникальный базовый курс по освоению навыка внетелесных переживаний и осознанных сновидений, который состоит из зависимых друг от друга блоков, раскрывающих практический подход к освоению фазы. Метод выхода из тела, используя пробуждение от сна + технологии развития осознанных сновидений + метод выхода из тела без предварительного сна = гармоничное развитие устойчивого навыка входа в фазу. Технические алгоритмы отрабатываются прямо на занятиях. Подача материала происходит таким образом, что частный подход к каждому участнику сохраняется даже при больших группах. После семинара, как правило, ни у кого не остается ни одного вопроса по теме… На данный момент, до 85% от числа учеников, овладевают навыком входа в фазу уже в процессе занятий»
        a(href="/belevsky-from-body/partnership", target="_blank").button.partner_button Партнерская программа