#main
    img(src="img/oleg_before.png", alt="Декор")#oleg_before
    .container
        p#pre Бесплатный 2-х дневный интенсив
        h1 Как выйти из тела в осознанный сон?
        h2 от Олега Белевского
        p.date 26 и 27 апреля 
            span в 19:00 мск
        .video_wrapper#main_video_wrapper
            iframe(src="https://www.youtube.com/embed/?rel=0&autoplay=0", allowfullscreen)
        img(src="img/oleg_main.png", alt="Олег Белевский")#oleg_main