section#plan
    .title_wrapper
        h3 Описание интенсива по плану
    #plan_container
        .container
            .row
                .col-md-6.col-sm-6.day
                    .day_container.day_container_first
                        .day_number 1
                            br
                            | день
                        ul.plan_list
                            li
                                span Что такое осознанные сновидения и внетелесные путешествия? Какая между ними разница?
                            li
                                span Какую пользу вам даст практика осознанных сновидений и внетелесных путешествий?
                            li
                                span Тест на предрасположенность к практике ОС и ВТП. Почему это касается каждого?
                            li
                                span Разбор самых прогрессивных в мире методик входа в ОС и ВТП
                        p.day_bonus Бонус 
                            span - все статьи Олега Белевского
                .col-md-6.col-sm-6.day
                    .day_container.day_container_second
                        .day_number 2
                            br
                            | день
                        ul.plan_list
                            li
                                span Как подготовиться к первому опыту выхода из тела в осознанный сон?
                            li
                                span Как использовать электронную маску Remee для входа в осознанное сновидение?
                            li
                                span Картография сновидений. Как использовать её с максимальными результатами?
                            li
                                span Как использовать осознанные сновидения по тибетской традиции бон или философия йоги сновидений
                        p.day_bonus Бонус 
                            span - практика остановки внутреннего диалога
            button.button(data-toggle="modal" data-target="#myModalForm") Записаться