mixin reason(p_1,p_2)
    .col-md-6.col-sm-6.col-xs-6.reason
        .reason_container
            .reason_img
            p= p_1
            p= p_2
            
section#reasons
    .container
        h3 9 причин прийти на интенсив
        .row#reasons_container
            +reason('Среди различных эзотерических практик  вы так и не смогли найти эффективную технику исцеления от болезней','Развив навык Осознанных Сноведений (ОС) и ВнеТелесных Путешествий (ВТП), вы можете кардинально улучшить своё здоровье, с помощью техник влияния на физиологию')
            +reason('Вы хотите научиться сдвигать границы своего восприятия, чтобы реализовывать любые цели и желания','Даже, если вообще не заниматься прикладной практикой в ОС и ВТП, то границы и рамки сознания сдвигаются сами собой, открывая полный спектр возможностей развития и роста в любом направлении')
            +reason('Рутина повседневности поглощает вас, делая жизнь однообразной, скучной и эмоционально бедной','С помощью практики ОС и ВТП, вы сможете переживать сногсшибательные эмоции, в виде стремительных полётов, телепортации, прохождения сквозь стены , путешествий в другие миры и многого другого')
            +reason('В повседневной жизни вам трудно взаимодействовать с противоположным полом. Вы закомплексованы и зажаты','В осознанном сновидении вы можете заниматься сексом с абсолютно любым партнёром, а ощущения при этом будут ещё ярче, чем в реальности.  После этого, вам ничего не будет стоить повторить это и в бодрствовании, избавившись от ненавистных блоков')
            +reason('Вас преследует апатия и низкий энергетический тонус','Освоив практику ОС и ВТП, вы по умолчанию получите мощнейший источник подзарядки, который всю жизнь будет у вас под рукой')
            +reason('У вас творческий кризис?','В осознанном сновидении вы сможете безгранично черпать творческие и креативные идеи, которые сможете тут же применять в реальности, совершенствуясь и реализовываясь')
            +reason('У вас есть глубинные страхи и фобии, которые преследуют вас всю жизнь, не оставляя ни малейшего шанса на избавление','Избавление от страхов и фобий – одно из самых первых научных применений ОС и ВТП. Освоив феномен, вы быстро избавитесь от большинства из них')
            +reason('Вы не видите или не запоминаете сны','Чтобы научиться практике ОС и ВТП, совсем не обязательно помнить обычные сны. Методики основаны на физиологических особенностях организма')
            .col-md-3
            +reason('Среди огромного количества информации вы не знаете, какую выбрать?','Обладая самыми прогрессивными методиками в мире, вы сможете расставить правильные акценты в вашей практике')
        button.button(data-toggle="modal" data-target="#myModalForm") Записаться