mixin tt(src, h4, p,it_class)
    .item(class= it_class)
        .testim_container
            img(src= src, alt= h4)
            h4= h4
            p= p
.carousel.slide#carousel_text(data-ride="carousel" data-interval="false")
    .carousel-inner(role="listbox")
        +tt('img/photo_1.png','Надежда Баталова','Благодарю Олег! У меня всё получилось сразу после тренинга. И это было классно. Мне очень помог настрой, который вы нам так настойчиво старались передать: действовать,двигаться! Я летала, вращалась и была там,где хотела. Открыла наконец холодильник) Благодарю через вас мне открылся совсем новый неизведанный мир. Получилось прямым методом,без практик. Я просто "ловила за хвост" начинающиеся сны и почувствовав вибрации встала. Видела немного размыто. Когда выглянула в окно там на газоне видела аварию из двух машин и машину ДПС, много мужчин. Подумала, что чушь - авария на газоне, тем более там никогда не паркуются. А вечером спустя 12 часов после моего видения у нас во дворе произошла авария на газоне. На две машины упало дерево и было много мужчин. Весь день после выхода была в приподнятом настроении и привлекла деньги намного больше обычного))', 'active')
        +tt('img/photo_2.png','Татьяна Оськина','Благодарю Олег! Приехав домой с тренинга, я решила отдохнуть пару дней,а потом проделать практику как в Москве всё по плану трёх целей.Вчера я так и сделала проговорила три цели.Практиковала на пробуждении.Заметила то что сразу на первом пробуждении и очень как то быстро попала опять на третий вариант цели минуя первую и вторую.Очутилась в месте назначения и твёрдо ощущала почву под ногами,я шла как в реальности трогая перила руками поднимаясь вверх по лестнице.Потом я увидела новорожденного мальчика рыжеволосого,но очень крупный ребёнок как будто ему уже 4 года.Мне дали его в руки и его держала и ощущала тяжесть.Он уснул на моих руках и я положила его на кровать и укрыла одеялом.После этого я проснулась и ощутила себя в другой реальности.День прошёл очень удачно и продуктивно.Чувствую себя вдохновлённой и окрылённой')
        +tt('img/photo_3.png','Руслан Руслан','Очень интересно, и мало воды. Все рассказывается по существу и по делу. А самое главное есть практика, где показывают и рассказывают что надо делать и какие бывают ситуации, так что я считаю что все это стоит того, чтобы потратить свои деньги')
        +tt('img/photo_4.png','Алиса Лазарева','Благодаря курсу удалось структурировать практику, упорядочить тот хаос в голове, который был после знакомств с различными эзотерическими системами, все стало простым и доступным, появилось больше уверенности в действиях, после первых опытов еще больше увеличилась мотивация!')
        +tt('img/photo_5.png','Александр Лебединский','Доброго времени суток! Олег - я был у Вас на тренинге в Ялте. Все очень великолепно! Спасибо! После тренинга все стало намного лучше и чувствительность - осознанности увеличилось не на 100% а все 200%!!! Спасибо! Для себя решил продолжить занятие, развивать практиковать!')
    ol.carousel-indicators
        li(data-target="#carousel_text" data-slide-to="0" class="active")
        li(data-target="#carousel_text" data-slide-to="1")
        li(data-target="#carousel_text" data-slide-to="2")
        li(data-target="#carousel_text" data-slide-to="3")
        li(data-target="#carousel_text" data-slide-to="4")
    #controls
        a.left.carousel-control(href="#carousel_text" role="button" data-slide="prev") &larr;
        a.right.carousel-control(href="#carousel_text" role="button" data-slide="next") &rarr;
        