mixin tt(src, h4, p)
    .item.testim_container
        img(src= src, alt= h4)
        h4= h4
        p= p
.carousel.slide#carousel_text(data-ride="carousel" data-interval="false")
    .carousel-inner(role="listbox")
        +tt('img/photo_6.jpg','Татьяна Трубникова','Девочки и Жанна, спасибо, Ваш пример вдохновил меня тоже выйти из подполья и начать потихонечку говорить о себе. Выполняю с опозданием задание про вовлечение))) вот что значит типаж хорошая и скромная: все так долго доходит и никакой смелости заявить о себе... Все бы отсидеться где-нибудь в уголке. И ждать пока прилетит вдруг волшебник в голубом вертолете... Прилетела Жанна в красивом голубом (охренительном синем) платье и говорит: Девочки, никакого волшебника нет! Все что у меня есть я сама себе «наволшебила» (хотя мне больше нравится слово «нафеячила»)) Да, мне тоже трудно, но я беру и делаю, понемногу, но каждый день. Жаль, конечно, что волшебника нет, но зато есть с кого брать пример, есть поддержка, а значит все получится.')
        +tt('img/photo_1.jpg','Анна Киценко','Хочу сказать спасибо Жанне за ее работу с нами, терпение, за интересные задания, за наше развитие, и наши изменения! Пройдя этот коротенький квест, я получила много новых открытий в себе, в своем поведении, многое поменялось в жизни, отношении к жизни и к людям. Сейчас, как только закрадываются сомнения, сразу вспоминаю тематические видео Жанны и меняю свои мысли и поведение в правильное русло. Сейчас мне стало проще знакомиться с людьми, общаться с ними и узнавать новое и интересное. Если раньше мне проще было отмолчаться, уединиться, то сейчас я сама вступаю в контакт, прошу номера телефонов, общаюсь в соц.сетях, заявляю о своих желаниях и не надеваю маску Poker Face')
        +tt('img/photo_2.jpg','Елена Терзи','Жаннуль, тебе хочу сказать спасибо! Ты очень крутая! И я теперь крутая, с таким багажом пониманий))) Квест крутой! Работа твоя на миллион $$$ !!! И я рада, что я с вами во всем этом)! Люблю Вас девочки! Всем успехов!')
        +tt('img/photo_3.jpg','Ирина Пушина','Жанночка, дорогая, спасибо за то, что ты делаешь, за то, как ты провоцируешь, вытаскиваешь, помогаешь освободиться, даешь советы, делишься, сопереживаешь, поддерживаешь! Ты самый настоящий проводник, ты слышишь и видишь ясность и чистоту, видишь лишнее, которое мешает проявиться этому свету, классно, что судьба подарила встречу с тобой! Ценю, люблю, уважаю, Благодарю, Обнимаю ))! Продолжаю движение... буду доделывать, дослушивать…')
        +tt('img/photo_4.jpg','Лейсан Халилова','Благодарю тебя, Жанна Абрамова, моя любимая! Не думала я, что меня перевернет квест про деньги. Это было сравнимо с очень непростыми 3-мя интенсивами и одним ребефингом через физику (это все из моего опыта). Второе мое очень сильное преображение, после которого я уже не буду прежней. Это был незаметный, лайтовый прыжок в новую жизнь. Лайтовый в подаче, в тонкости, в чуткости твоей. Но огромный прыжок. Очень большую работу проделала ты для нас! Благодарить тебя не перестану! Это же какая у тебя, Жаннуля, энергия, что я после двух недель вышла на улицу и начала видеть все и всех по другому. Как пелена спала. Люблю тебя и желаю нескончаемой энергии, вдохновения, сил и новых горизонтов!')
        +tt('img/photo_5.jpg','Наталия Капилюшина','Жаннуля, хочу сказать тебе огромное спасибо! За глубину информации, которую ты даёшь, за такой серьёзный анализ того, что происходит в наших душах и головах, за новое понимание себя и мужчин, за новое вИдение жизни и желание другой жизни, за твоё терпение к нам и любовь! Ты такая родная, искренняя и чуткая! Благодарю и очень люблю!')
    ol.carousel-indicators
        li(data-target="#carousel_text_2" data-slide-to="0" class="active")
        li(data-target="#carousel_text_2" data-slide-to="1")
        li(data-target="#carousel_text_2" data-slide-to="2")
    #controls
        a.left.carousel-control(href="#carousel_video" role="button" data-slide="prev") &larr;
        a.right.carousel-control(href="#carousel_video" role="button" data-slide="next") &rarr;
        