.carousel.slide#carousel_video(data-ride="carousel" data-interval="false")
    .carousel-inner(role="listbox")
        .item.active
            .video_wrapper(data-youtube="y4cQvOcvMHI")
                img(src="img/video_1.jpg", alt="Видео-отзыв 1")
        .item
            .video_wrapper(data-youtube="JneTa32ouEc")
                img(src="img/video_2.jpg", alt="Видео-отзыв 2")
        .item
            .video_wrapper(data-youtube="QRLL8xcKngg")
                img(src="img/video_3.jpg", alt="Видео-отзыв 3")
        .item
            .video_wrapper(data-youtube="0Z1RV23Be9E")
                img(src="img/video_4.jpg", alt="Видео-отзыв 4")
        .item
            .video_wrapper(data-youtube="UR1fRwMq4qA")
                img(src="img/video_5.jpg", alt="Видео-отзыв 5")
        .item
            .video_wrapper(data-youtube="bqYx21eAf_w")
                img(src="img/video_6.jpg", alt="Видео-отзыв 6")
        .item
            .video_wrapper(data-youtube="8SmJk2Bmdgk")
                img(src="img/video_7.jpg", alt="Видео-отзыв 7")
        .item
            .video_wrapper(data-youtube="bksep5NC3dc")
                img(src="img/video_8.jpg", alt="Видео-отзыв 8")
        .item
            .video_wrapper(data-youtube="4NJIjqIQEkI")
                img(src="img/video_9.jpg", alt="Видео-отзыв 9")
        .item
            .video_wrapper(data-youtube="Zazee3cLN4w")
                img(src="img/video_10.jpg", alt="Видео-отзыв 10")
        .item
            .video_wrapper(data-youtube="jU0HPiCu_qE")
                img(src="img/video_11.jpg", alt="Видео-отзыв 11")
    ol.carousel-indicators
        li(data-target="#carousel_video" data-slide-to="0" class="active")
        li(data-target="#carousel_video" data-slide-to="1")
        li(data-target="#carousel_video" data-slide-to="2")
        li(data-target="#carousel_video" data-slide-to="3")
        li(data-target="#carousel_video" data-slide-to="4")
        li(data-target="#carousel_video" data-slide-to="5")
        li(data-target="#carousel_video" data-slide-to="6")
        li(data-target="#carousel_video" data-slide-to="7")
        li(data-target="#carousel_video" data-slide-to="8")
        li(data-target="#carousel_video" data-slide-to="9")
        li(data-target="#carousel_video" data-slide-to="10")
    #controls
        a.left.carousel-control(href="#carousel_video" role="button" data-slide="prev") &larr;
        a.right.carousel-control(href="#carousel_video" role="button" data-slide="next") &rarr;