#about
    width: 100%
    padding: 105px 0 103px
    background-image url(../img/about_bg.jpg)
    background-repeat no-repeat
    background-position: center
    background-size cover

#oleg_about
    float left

.about_container
    margin-top: 43px
    h4
        font-size: 27px;
        font-family: "HelveticaNeueCyrBlack", sans-serif;
        color: rgb(53, 178, 196);
        text-transform: uppercase;
        line-height: 1.148;
        letter-spacing: 0.7px;

.about_list
    margin: 33px 0 40px
    li
        font-size: 18px;
        font-family: "HelveticaNeueCyrLight", sans-serif;
        line-height: 1.4;
        color: #35b2c4
        margin-bottom: 12px
        span
            color: #fff

#cert
    float left
    margin-right: 40px
.blockquote_min
.blockquote
    p
        font-size: 18px;
        font-family: "HelveticaNeueCyrLightItalic", sans-serif;
        color: rgb(255, 255, 255);
        line-height: 1.4
        margin-bottom: 25px
        span
            font-family: "HelveticaNeueCyrBoldItalic", sans-serif;
            color: #35b2c4
.blockquote_min
    display: table
    p
        display: table-cell
        vertical-align: middle
.partner_button
    width: 350px
    margin-top: 50px