#mail_section
    overflow: hidden
    position relative
    width 100%
    padding: 29px 0
    background-image: linear-gradient(80deg, #4960af 0%, #48c6ef 50%, #48c6ef 80%, #4960af 130%)
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.15);
    &:before
    &:after
        content: ''
        position: absolute
        background-color: transparent
        border-top: 3px dotted #504d82
        opacity: 1
        width: 100%
        height: auto
        left 0
        right 0
    &:before
        top 7px
    &:after
        bottom: 7px
.form_newsletter
    height: 70px
    display: flex
    align-items: center
    justify-content: center
    h4
        font-size: 27px;
        font-family: "HelveticaNeueCyrBold", sans-serif;
        color: rgb(247, 248, 250);
        line-height: 1.2;
        text-align: left;
    p
        font-size: 23px;
        font-family: "HelveticaNeueCyrBoldItalic", sans-serif;
        color: rgb(7, 33, 60);
        line-height: 1.1;
    .infront_submit,
    .span_phone
        font-size: 16px
    button.button
        margin-top: 0
        background-image: none
        background-color: #07213c
        border: 0
        box-shadow: none
        &:hover
            background-color: #4968b4
.email-block input,
.phone-block input,
.email-block input:focus,
.phone-block input:focus
    border: 1px solid rgb(148, 148, 148);
    border-radius: 10px;
    background-color: #f7f8fa
    box-shadow: inset 0px 0px 8.55px 0.45px rgba(0, 0, 0, 0.39);
    width: 262px;
    font-size: 17px;
    font-family: "HelveticaNeueCyrRoman", sans-serif;
    color: rgba(29, 28, 24, 0.702);
    line-height: 56px
    text-align: left;
    padding: 0 15px 0 0
    height: 56px
    text-indent: 15px
    outline 0

