#main_screen
	width: 100%
	padding: 0 0 30px
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size cover
	text-align: center
	overflow hidden
#header
	padding: 27px 20px 10px
	overflow hidden
	z-index: 9
	position relative
#logo
	float: left
	opacity .7
.contacts
	float: right
	text-align: right
	padding-right: 15px;
	.fa
		color: #48b0e1
		font-size: 20px
		margin: 0 15px 0  40px
		&.fa-phone
			margin-left: 0
	.fa+span
		font-size: 18px;
		font-family: "OpenSansBold", arial, sans-serif;
		color: rgba(#fff, .7)
		line-height: 26px
		text-align: right;
		&:hover
			text-decoration underline
#main
		position relative
	.container
		position relative
#pre
	font-size: 30px;
	font-family: "HelveticaNeueCyrBold", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1;
	text-shadow: 0px 0px 22.36px rgba(4, 4, 4, 0.35);
	margin 61px 0 24px
	&:after
		content: ''
		display block
		width: 80px
		height 4px
		background-color: #ffffff
		margin: 20px auto 0
h1
	font-size: 40px;
	font-family: "GeometriaHeavy",sans-serif;
	color: rgb(247, 248, 250);
	text-transform: uppercase;
	line-height: 1.425;
	text-shadow: 0px 0px 25.41px rgba(4, 4, 4, 0.35);
	width: 475px;
	margin: 0 auto
h2
	font-size: 30px;
	font-family: "HelveticaNeueCyrItalic", sans-serif;
	color: rgb(247, 248, 250);
	line-height: 1
	margin: 14px 0 0;
	z-index: 9
	position relative
#oleg_before
	position: absolute
	width: 100%
	left 0
	right: 0
	bottom: -35px
	z-index 5
#oleg_main
	position: absolute
	bottom: -55px
	right 0
	z-index 4
.date
	font-size: 32px;
	font-family: "HelveticaNeueCyrBlack", sans-serif;
	color: rgb(7, 33, 60);
	line-height: 1.156;
	width: 190px;
	position: absolute
	top: 100px;
	left: 47px;
	z-index: 9
	span
		font-family:  'HelveticaNeueCyrMedium', sans-serif
		display block
		margin-top: 20px
#main_video_wrapper
	width: 465px
	margin: 38px 0 0;
	z-index 9
#bonus
	#main_screen
		min-height: calc(100vh - 225px)
	#pre
		margin 15px 0
	h1
		width: 100%
	#main_video_wrapper
		margin: 20px auto 0
		width: 50%