#reasons
    width: 100%
    padding: 105px 0 103px
    background-image url(../img/reasons.jpg)
    background-repeat no-repeat
    background-position: center
    background-size cover
    h3:after
        background-color: #48c6ef
#reasons_container
    margin-top: 106px
.reason_container
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .1);
    height: 279px;
    padding: 56px 20px
    text-align: center
    margin-bottom: 95px
    position relative
    p
        font-size: 18px;
        line-height: 1.4
        &:first-of-type
            font-family: "HelveticaNeueCyrLight", sans-serif;
            color: rgba(255, 255, 255, 0.8);
            &:after
                content ''
                display block
                background-color: rgb(250, 253, 254);
                width: 40px;
                height: 2px;
                margin: 13px auto 11px
        &:last-of-type
            font-family: "HelveticaNeueCyrMedium", sans-serif;
            color: #90dffe

.reason_img
    width: 94px
    height: 94px
    position: absolute
    margin: 0 auto
    top -39px
    left 0
    right: 0
    background-repeat no-repeat
    background-image url(../img/icons.png)

.reason:nth-of-type(2)
    .reason_img
        background-position: -94px 0
.reason:nth-of-type(3)
    .reason_img
        background-position: -188px 0
.reason:nth-of-type(4)
    .reason_img
        background-position: -282px 0
.reason:nth-of-type(5)
    .reason_img
        background-position: -376px 0
.reason:nth-of-type(6)
    .reason_img
        background-position: -470px 0
.reason:nth-of-type(7)
    .reason_img
        background-position: -564px 0
.reason:nth-of-type(8)
    .reason_img
        background-position: -658px 0
.reason:nth-of-type(10)
    .reason_container
        margin-bottom: 0
    .reason_img
        background-position: -752px 0