#responses_container
    width: 100%
    padding: 105px 0 103px
    background-image url(../img/responses_bg.jpg)
    background-repeat no-repeat
    background-position: center
    background-size cover

#carousel_video
    margin-top: 40px
    .video_wrapper
        width: 556px

.carousel-indicators
    position relative
    bottom: -20px
    li
    .active
        width: 23px
        height: 23px
        border-radius: 50%
        border-color: #35b2c4
        margin: 1px 3px
    .active
        background-color: #35b2c4
        padding: 2px;
        background-clip: content-box;

#controls
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    width: 750px;
    margin: 0 auto;
    .carousel-control
        display block
        border-radius: 50%;
        background-color: #35b2c4
        background-image:  none
        box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.15);
        width: 50px;
        height: 50px;
        line-height: 42px
        color: #ffffff
        font-size: 34px
        opacity 1
        text-shadow: none